@import '../../../shared/sass/variables';
.Footer {
    padding-top: 5rem;
    background-color: $color-grey-light-1;

    .NewsLetter{
        background-color: rgba($primary-color-dark, .9);
        padding: 0;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        color: $color-white;
        font-size: 4rem;
        

        @supports(clip-path: polygon(0 0))  or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
         }
    }
    .FooterText{
        background-color: $primary-color-dark;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-gap: 4rem;
        color: $color-white;
        font-size: calc(10px + 0.4vw);
        padding: 5rem 0;

        .LogoBox{
            box-sizing: border-box;
            grid-column-start: 2;
            grid-column-end: 5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .FooterLogo {
                width: 15rem;
                height: auto;
            }
        }


        .QuickLinks{
            box-sizing: border-box;
            grid-column-start: 6;
            grid-column-end: 8;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            line-height: 3rem;
            
        }
        .ConnectUS {
            box-sizing: border-box;
            grid-column-start: 9;
            grid-column-end: 12;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            line-height: 3rem;
        }
    }

}