.u-center-text{text-align: center !important;}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important; 

}
.u-margin-bottom-medium{
     margin-bottom: 4rem !important;

     
}
//Margin
.MarginBottomSmall{ margin-bottom: 1.5rem !important; }

.MarginTopBig{ margin-top: 8rem !important; }
.MarginTopHuge{ margin-top: 10rem !important; }

//Padding
.PaddingTopBig{ padding-top: 8rem !important; }