.NavigationItems {
    list-style: none;
    text-align: center;
    display: flex;
    font-weight: 400;
    flex: 1 0 100%;
    flex-direction: row;
    align-items: center;
    position: relative;
    text-transform: uppercase;
 
  
    
    .Auth{
      position: absolute;
      align-self: flex-end;
      top: 0;
      right: 0;
      display: flex;
      margin-right: 5rem;
      text-transform: capitalize;

    }
}